services:
  web-lp:
    image: nginx:1.27-alpine
    container_name: web-lp
    ports:
      - "8080:80"
    volumes:
      - ./public_html:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  web-app:
    image: nginx:1.27-alpine
    container_name: web-app
    ports:
      - "8081:80"
    volumes:
      - ./public_html_app:/usr/share/nginx/html:ro
      - ./nginx_app/default.conf:/etc/nginx/conf.d/default.conf:ro
  web-admin:
    image: nginx:1.27-alpine
    container_name: web-admin
    ports:
      - "8082:80"
    volumes:
      - ./public_html_admin:/usr/share/nginx/html:ro
      - ./nginx_admin/default.conf:/etc/nginx/conf.d/default.conf:ro

  sass:
    image: node:20-alpine
    container_name: lp-sass
    working_dir: /runner
    volumes:
      - ./scss:/src:ro
      - ./public_html:/out
      - ./public_html_app:/out_app
      - ./public_html_admin:/out_admin
    environment:
      - NPM_CONFIG_UPDATE_NOTIFIER=false
      - NPM_CONFIG_FUND=false
      - NPM_CONFIG_AUDIT=false
    # command: >
    #   sh -c "
    #     npx -y sass --watch --no-source-map /src/style.scss /out/style.css &
    #     npx -y sass --watch --no-source-map /src/style.scss /out_app/style.css &
    #     npx -y sass --watch --no-source-map /src/style.scss /out_admin/style.css
    #   "
    command: >
      sh -lc '
        set -e
        mkdir -p /out /out_app /out_admin
        npx --yes sass@1.79.5 --no-source-map --watch --poll /src/style.scss:/out/style.css &
        npx --yes sass@1.79.5 --no-source-map --watch --poll /src/style.scss:/out_app/style.css &
        npx --yes sass@1.79.5 --no-source-map --watch --poll /src/style.scss:/out_admin/style.css &
        wait -n
      '
