:root {
    --color-main: #1F7CFF;
    --color-light: #FFFFFF;
    --color-accent: #ffbf1c;
    --color-dark: #202426;

    --color-dark-transparent: #20242690;

    --color-font-dark: #202426;
    --color-font-dark-secondary: #A0A0AB;

    --color-font-dark-gray-2: #57575a;
    --color-font-dark-gray: #7e7e81;

    --color-font-light: #FFFFFF;

    --color-bg-gray: #F2F2F0;
    --color-bg-gray-2: #F2F2F0;
}