# Serverフォルダ内のすべての .pyc ファイルを無視
/Server/**/*.pyc

# すべての .vscode フォルダを中身ごと無視
.vscode/
**/.vscode/

# Mac開発時の.DS_Storeはすべて無視
.DS_Store
**/.DS_Store/

# configs 以下の特定環境フォルダをすべて無視
/configs/development/
/configs/localhost/
/configs/production/


node_modules/
**/node_modules/