@use "../../common" as common;

body#home {
    #search-group {
        @include common.fixed;
        @include common.stack;
        @include common.both;
        @include common.align-center;
        @include common.width-full;
        @include common.padding-16px;
        @include common.spacing-16px;

        height: 120px;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--z-index-grobal-menu);
        background-color: var(--color-light);

        .back {
            @include common.height-full;
            @include common.row;
            @include common.center;
            @include common.align-center;
            width: 48px;
            
            i {
                font-size: var(--font-size-24px);
            }
        }

        .logo-link {
            height: 32px;
        }

        .logo {
            height: 32px;
        }

        .search-wrapper {
            @include common.relative;
            @include common.width-full;
            @include common.height-full;    
            @include common.stack;
            @include common.center;
            @include common.align-center;
            @include common.padding-x-8px;
            
            box-sizing: border-box;
            max-width: 720px;

            .search-input {
                @include common.width-full;
                @include common.height-full;
                @include common.padding-x-32px;
                height: 40px;
                border-radius: 20px;
                border: none;

                background-color: var(--color-bg-gray);

                &::placeholder {
                    color: var(--color-font-dark-secondary);
                }
            }

            .search-button {
                @include common.absolute;
                right: 20px;
                height: 32px;
                width: 32px;
                font-size: var(--font-size-20px);
                color: var(--color-font-dark-gray);
            }
        }
    }

    #bottom-menu {
        @include common.fixed;
        @include common.row;
        @include common.row-left;
        @include common.align-center;
        @include common.width-full;
        @include common.height-fit;
        @include common.padding-16px;
        @include common.spacing-16px;
        
        bottom: 0;
        left: 0;
        right: 0;

        z-index: var(--z-index-grobal-menu);

        .help-button, .create-button {
            @include common.spacing-8px;
            filter: drop-shadow(0px 4px 8px rgba(9, 8, 39, 0.25));
            border: transparent;
            pointer-events: all;

            i {
                font-size: var(--font-size-24px);
            }

            &:hover {
                @include common.spacing-8px;
            }
        }
    }

    @media (max-width: 1024px) {

    }
    @media (max-width: 768px) {
        #search-group {
            .search-wrapper {
                @include common.padding-x-0px;
            }
        }
    }

    @media (display-mode: standalone){
        #search-group {
            height: calc(120px + env(safe-area-inset-top));
            padding-top: calc(16px + env(safe-area-inset-top));
        }
        #bottom-menu {
            bottom: 1vh;
        }
    }
}