@use "../../common" as common;

#hero {
    @include common.font-color-light;

    background-color: var(--color-main);
    height: calc(100vh + 320px);

    justify-content: center;

    margin-top: 0;
    padding-top: 0;
    padding-bottom: 220px;

    .hero-content {
        @include common.content;
        @include common.row;
    }

    .hero-text-group {
        @include common.stack;
        @include common.center;
        @include common.spacing-16px;
        @include common.fit;
        @include common.margin-left-150px;

        height: 100%;

        h1 {
            @include common.font-size-xx-large;
            @include common.font-weight-black;
            @include common.letter-spacing-medium;
            @include common.width-fit;
        }

        h3 {
            @include common.font-size-medium;
            @include common.font-weight-bold;
            @include common.letter-spacing-small;
            @include common.line-spacing-medium;
            @include common.margin-top-16px;
        }

        .button {
            @include common.margin-top-24px;
        }
    }

    .hero-image-group {
        height: 100%;
        @include common.row;
        @include common.center;
        @include common.fill;

        .mockup {
            @include common.relative;
            @include common.stack;
            @include common.center;
            @include common.align-center;
        }
    }


    @media (max-width: 1024px) {

    }
    @media (max-width: 768px) {
        @include common.height-fit;
        padding-bottom: 280px;

        .hero-content {
            @include common.relative;
            @include common.stack;
            @include common.height-full;
            @include common.padding-top-120px;
            @include common.spacing-32px;

            .hero-text-group {
                @include common.padding-0px;
                @include common.margin-0px;
                @include common.margin-left-32px;
                @include common.height-fit;
                @include common.spacing-8px;
                z-index: var(--z-index-local-over-2);

                h1 {
                    @include common.font-size-xx-large;
                }

                h3 {
                    @include common.font-size-medium;
                    @include common.margin-top-8px;
                }

                .button {
                    @include common.margin-top-12px;
                }
            }

            .hero-image-group {
                @include common.height-fit;

                .mockup {
                    height: calc(532px * 0.8);
                    width: calc(260px * 0.8);

                    .screen {
                        height: calc(508px * 0.805);
                        width: calc(236px * 0.805);
                        border-radius: calc(24px * 0.8);

                        .screen-img{
                            transform: translateY(-1px);
                        }
                    }
                }
            }
        }

    }
}