@use "../../common" as common;

body#detail {
    background-color: var(--color-bg-gray);

    #app {
        @include common.fixed;
        width: 100vw;
        height: calc(100vh - 72px);
    
        top: 72px;
        bottom: 0;
        left: 0;
        right: 0;
    
        z-index: var(--z-index-grobal-content);
    
        #app-loading {
            @include common.absolute;
            @include common.row;
            @include common.center;
            @include common.align-center;
            @include common.width-full;
            @include common.height-full;
            @include common.padding-bottom-64px;
    
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--color-light);
    
            border-radius: 32px 32px 0 0;
    
            z-index: var(--z-index-local-over-1);
    
            transition: opacity 0.3s;
            opacity: 0;
            pointer-events: none;
            
            &.show {
                opacity: 1;
            }
        }
    
        .slide-container {
            @include common.absolute;
            @include common.row;
    
            width: 200vw;
            height: calc(100vh - 72px);
    
            left: 0;
            transition: left 0.3s;
    
            .polis {
                min-width: 100vw;
                min-height: calc(100vh - 72px);
                overflow-y: scroll;
                border-radius: 32px 32px 0 0 !important;
                filter: drop-shadow(0px 8px 16px rgba(9, 8, 39, 0.1));
                background-color: var(--color-light);
                padding-bottom: 64px !important;
    
                iframe {
                    border: none !important;
                    border-radius: 0 !important;
                }
            }
    
            .polis-report {
                @include common.padding-top-32px;
                min-width: 100vw;
                min-height: calc(100vh - 72px);
                overflow-y: scroll;
                border-radius: 32px 32px 0 0 !important;
                filter: drop-shadow(0px 8px 16px rgba(9, 8, 39, 0.1));
    
                background-color: var(--color-light);
    
                iframe {
                    min-width: 100vw;
                    min-height: calc(100vh - 72px);
                }
            }
        }
    
        &.on-conversations {
            .slide-container {
                left: 0vw;
            }
        }
        &.on-reports {
            .slide-container {
                left: -100vw;
            }
        }
    
    
    }

    #copy-complete-modal {
        .modal-window {
            .modal-content {
                .modal-title-group {
                    @include common.stack;
                    @include common.center;
                    @include common.align-center;
                    @include common.spacing-8px;
                }
                .modal-text {
                    @include common.font-size-small;
                }

                .share-input-group {
                    @include common.relative;
                    @include common.width-full;
                    @include common.height-fit;
                    @include common.stack;
                    @include common.center;
                    @include common.align-center;
                    @include common.spacing-8px;

                    .share-input-wrapper{
                        @include common.relative;
                        @include common.width-full;
                        @include common.height-fit;
                        border-radius: 8px;
                        overflow: hidden;

                        .share-input {
                            @include common.width-full;
                            @include common.height-fit;
                            // @include common.padding-8px;
                            @include common.line-spacing-medium;
                            @include common.font-size-sub-small;
                            padding-left: 16px;
                            padding-right: 8px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            line-height: 1.6;
                            background-color: var(--color-bg-gray);
                        }
    
                        .copy-button {
                            @include common.absolute;
                            @include common.padding-x-16px;
                            @include common.padding-y-0px;
                            @include common.row;
                            @include common.row-right;
                            @include common.align-center;
                            right: 0;
                            top: 0;
                            bottom: 1px;
    
                            color: var(--color-dark);
    
                            border-radius: 0;
                            background: linear-gradient(90deg, transparent, var(--color-bg-gray) 50%, var(--color-bg-gray) 100%);
                            border: none;
    
                            height: 100%;
                            width: 96px;
    
                            i {
                                @include common.padding-bottom-2px;
                                font-size: var(--font-size-22px);
                            }
                        }
                        .copy-complete-tip {
                            @include common.absolute;
                            @include common.padding-x-24px;
                            @include common.padding-y-0px;
                            @include common.row;
                            @include common.center;
                            @include common.align-center;
                            @include common.width-fit;
                            right: 32px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
    
                            color: var(--color-light);
    
                            border-radius: 36px;
                            background-color: var(--color-main);
                            border: none;
    
                            height: 25px;
    
                            .text {
                                @include common.font-size-sub-small;
                            }

                            i {
                                font-size: var(--font-size-22px);
                            }

                            opacity: 0;
                            transition: opacity 0.3s;
                            will-change: opacity;

                            &.show {
                                opacity: 1;
                            }
                        }
                    }

                }
            }
        }
    }

    @media (display-mode: standalone){
        #app {
            top: calc(72px + env(safe-area-inset-top));
        }
    }
}
